* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, hsl(14, 38%, 66%), #f7b733);
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 800px;
  justify-content: center;
  font-family: 'Teko', sans-serif;
}

.choices {
  display: flex;
  justify-content: space-around;
}

#scores {
  display: flex;
  justify-content: space-around;
}

#player-score {
  font-size: 40px;
}

#computer-score {
  font-size: 40px;
}

#results {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

#restart {
  height: 180px;
  width: 180px;
}

#restart-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
}